
{% if error %}
    <div>{{ error.message }}</div>
{% endif %}
{% block body -%}
    <h1>Login Here...</h1>
    {{ form_start(form, {'action': path('login_check'), 'method': 'POST'}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}