ac\DataBundle\Entity\Page:
    type: entity
    table: null
    repositoryClass: ac\DataBundle\Entity\PageRepository
    id:
        id:
            type: integer
            id: true
            generator:
                strategy: AUTO
    fields:
        pageTitle:
            type: string
            length: 255
        pageContent:
            type: text
        creationDate:
            type: datetime
        modificationDate:
            type: datetime
        status:
            type: string
            length: 255
        pageParent:
            type: integer
        menuOrder:
            type: integer
        pageRoute:
            type: string
            length: 255
    manyToOne:
        user:
            targetEntity: User
            inversedBy: Page
            joinColumn:
                name: userId
                referencedColumnName: id
    lifecycleCallbacks: {  }
